ENVIRONMENT=production
VITE_API_URL=

DATABASE_URL= # Place your production database URL here

SECRET_KEY= # Place your production secret key here
DEFAULT_TOKEN= # Place your production default token here