/* From Uiverse.io by CristianMontoya98 */
.button-padding-none {
	padding: 0;
}

.button-padding-small {
	padding: 0.25em 0.5em;
}

.button-padding-medium {
	padding: 0.5em 1em;
}

.button-padding-large {
	padding: 1em 2em;
}

.button-padding-radius-none {
	border-radius: 0;
}

.button-radius-small {
	border-radius: 0.25em;
}

.button-radius-medium {
	border-radius: 0.5em;
}

.button-radius-large {
	border-radius: 1em;
}

.button-small {
	display: inline-block;
	width: fit-content;
	min-width: 2em;
	min-height: 2em;
}

.button-medium {
	display: inline-block;
	width: fit-content;
	min-width: 5rem;
	min-height: 2.3em;
}

.button-large {
	display: inline-block;
	width: fit-content;
	min-width: 8em;
	min-height: 2.5em;
}

.button-full {
	width: 100%;
	height: 2.5em;
}

.normal {
	display: block;
	width: 100%;
	height: 100%;
	background: var(--normal-button-bg);
	color: var(--normal-button-color);
	border: none;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&:after {
		content: '';
		background: var(--normal-button-color);
		position: absolute;
		z-index: -1;
		left: -20%;
		right: -20%;
		top: 0;
		bottom: 0;
		transform: skewX(-45deg) scale(0, 1);
		transition: all 0.5s;
	}

	&:hover {
		color: var(--normal-button-bg);

		&:after {
			transform: skewX(-45deg) scale(1, 1);
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
		}
	}
}
