.container {
	--width: 35px;
	--height: 24px;
	--icon-height: 3px;
	--center-stroke-width: calc(var(--width) * 0.6);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;

	.bars {
		width: var(--width);
		height: var(--height);
		display: block;
		cursor: pointer;

		.bar1,
		.bar2,
		.bar3 {
			width: var(--width);
			height: var(--icon-height);
			background-color: #fff;
			position: absolute;
		}

		.bar1 {
			transition: all 0.3s;

			&.is-open {
				transform: rotate(35deg) scaleX(0.55)
					translate(calc(var(--width) / 2), calc(var(--height) / -12));
				border-radius: 50px 50px 50px 0;
			}
		}

		.bar2 {
			margin: calc(var(--height) / 3 + var(--icon-height) / 2) 0 0 0;
			transition: 0.3s;

			&.is-open {
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				width: var(--center-stroke-width);
			}
		}

		.bar3 {
			margin: calc(var(--height) / 1.5 + var(--icon-height)) 0 0 0;
			transition: 0.3s;

			&.is-open {
				transform: rotate(-35deg) scaleX(0.55)
					translate(calc(var(--width) / 2), calc(var(--height) / 12));
				border-radius: 0 50px 50px 50px;
			}
		}
	}
}
