:root {
	--normal-button-bg: #000;
	--normal-button-color: #fff;

	--glass-morphism-bg: rgba(255, 255, 255, 255);
	--glass-morphism-color: blueviolet;
	--glass-morphism-color-hover: rgb(238, 103, 238);
	--glass-morphism-color-shadow: rgb(240, 46, 170);

	--glint-bg: #063525;
	--glint-border: #42c498;
	--glint-shadow: #000000;
	--glint-color: #e5dede;
	--glint-bg-hover: #1a5c46;
	--glint-border-hover: #030504;
	--glint-shadow-glow: rgba(64, 164, 122, 0.2);

	--primary-color: #00f2ea;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.dark {
	--normal-button-bg: #fff;
	--normal-button-color: #000;

	--glass-morphism-bg: rgba(255, 255, 255, 0.08);
	--glass-morphism-color: rgba(255, 255, 255, 0.9);
	--glass-morphism-color-hover: rgba(255, 255, 255, 1);
	--glass-morphism-color-shadow: rgba(255, 255, 255, 0.5);
}
